<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Početna stranica</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
    <h1>Početna stranica</h1><hr>

    <div class="auth">
    {% if user.is_authenticated %}
        <p>Vaše ime: {{ user.username }}</p>
    {% else %}
        <p>Niste prijavljeni.</p>
        <a href="{% url 'login' %}"><button>Prijava</button></a>
    {% endif %}
    </div>

    <h3>Izdavači</h3>
    <ul>
        <li><a href="../izdavaci">Lista izdavača</a></li>
        <li><a href="../addizdavac">Dodaj izdavača</a></li>
    </ul>

    <h3>Autori</h3>
    <ul>
        <li><a href="../autori">Lista autora</a></li>
        <li><a href="../addautor">Dodaj autora</a></li>
    </ul>

    <h3>Knjige</h3>
    <ul>
        <li><a href="../knjige">Lista knjiga</a></li>
        <li><a href="../addknjiga">Dodaj knjigu</a></li>
    </ul>
    </div>
</body>
</html>