{% block content %}
    <h2>Lista izdavača</h2>
    <form method="GET">
        <input type="text" name="naziv" placeholder="Pretraži izdavača..." value="{{ request.GET.naziv }}">
        <button type="submit">Pretraži</button>
    </form>
    <ul>
        {% for izdavac in object_list %}
            <li>
                Naziv: {{ izdavac.naziv }}<br>
                Država: {{ izdavac.drzava }}<br>
                <a href="../editizd/{{ izdavac.id }}">Edit</a><br>
                <a href="../deleteizd/{{ izdavac.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}