<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Izdavaci</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
{% block content %}
    <h2>Lista izdavača</h2>
    <form method="GET">
        <input type="text" name="naziv" placeholder="Pretraži izdavača..." value="{{ request.GET.naziv }}">
        <button type="submit">Pretraži</button>
    </form>
    <ol>
        {% for izdavac in object_list %}
            <li>
                Naziv: {{ izdavac.naziv }}<br>
                Država: {{ izdavac.drzava }}<br>

                <div class="edit-delete">
                <a href="../editizd/{{ izdavac.id }}">Uredi</a><br>
                <a href="../deleteizd/{{ izdavac.id }}" style="color: red;">Obriši</a>
                </div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
</div>
</body>