<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Knjige izdavača</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
{% block content %}
    <h2>Knjige izdavača: </h2>
    <ul>
        {% for knjiga in object_list %}
            <li>Naslov: {{ knjiga.naslov }}</li>
            <li>Autor: 
                {% for autor in knjiga.autor.all %}
                    {{ autor.ime }}
                {% endfor %}<br><br>
        {% endfor %}
    </ul>
{% endblock %}
</div>
</body>